<div class="popup-modal" style="display:none;">
<div class="popup-box">
  <a href="#" class="popup-close-cross"
    ><img src="https://cdn.shopify.com/s/files/1/0596/5450/4518/files/crossed.png?v=1712042181" width="25px" height="25px" alt="crossed" /></a>
  <h3>Enter your postcode for availability</h3>
  <p>To Suburb or Postcode</p>
  <div class="check-btn">
    <input class="location" type="text" placeholder="SYDNEY NSW 2000">
    <button type="submit" class="check-btn">Check</button>
    <div class="suggestions"></div>
  </div>
  <p class="notecls">Please note: item availability may change</p>
  <div class="cnc-checkload "><h1 class="hide">load</h1></div>
  <div class="address-popup" style="display:none;">
    <h4><img src="https://cdn.shopify.com/s/files/1/0596/5450/4518/files/store.png?v=1712042180" width="50px" height="50px" alt="store">Select Store</h4>
    <div class="locationss">
    </div>
  </div>    

  <button type="submit" style="display:none;" class="setlocationbtn popup-btn">Set Store Location</button>
 
</div>
</div>