
<div class="dropdown cls-pickuplocations-div" style="display : none;" >
    <div class="select-menu active">
        <div class="select-btn">
          <span class="sBtn-text">Select your location</span>
        </div>
      
        <ul class="options">
          <!-- Dynamic list of locations will be populated here -->
        </ul>
      </div>

</div>